/* Sidebar */
.sidebar {
    width: 10rem; /* Có thể thay đổi thành 10vw để linh hoạt hơn */
    background-color: #0C4874;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.sidebar-logo img {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Danh sách menu */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 0.75rem; /* Có thể thay đổi thành 1rem cho kích thước dễ đọc hơn */
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #073C5A;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem; /* Có thể thay đổi thành 1em để linh hoạt hơn */
    display: inline-block;
}

/* Định dạng cho các icon */
.dashboard-icon,
.classes-icon,
.newsevent-icon {
    width: 9rem; /* Thay đổi thành 10vw để linh hoạt hơn */
    height: auto;
}
.account-icon{
    width: 9rem;
    height: auto;
}