/* Sidebar */
.sidebar {
    width: 12rem;
    background-color: #0C4874;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.sidebar-logo img {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Danh sách menu */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #073C5A;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    display: inline-block;
}

/* Định dạng cho các icon */
.dashboard-icon{
    width: 180px;
    height: auto;
}
.profile-icon{
    width: 180px;
    height: auto;
}
.courses-icon{
    width: 180px;
    height: auto;
}
.exams-icon{
    width: 180px;
    height: auto;
}