/* Topbar.css */
.topbar {
    width: calc(100% - 12rem);
    background-color: #0C4874;
    color: white;
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 14rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    width: 70px;
    height: 70px;
    font-size: 50px;
    cursor: pointer;
    display: block;
    color: white;
    background-color: #49B6D6;
}

.topbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem; /* Khoảng cách giữa các icon */
    margin-right: 10rem; /* Khoảng cách từ góc phải của navbar */
}

.icon {
    font-size: 40px; /* Kích thước của icon */
    cursor: pointer;
    color: white;
}

.icon:hover {
    color: #49B6D6; /* Màu khi hover vào icon */
}
