.admin-container {
    position: fixed;
    width: calc(100% - 12rem);
    padding: 0.5rem;
    top: 9.5%;
    left: 12rem;
    z-index: 1100;
    display: flex;
    flex-wrap: wrap; /* Cho phép nội dung xuống dòng */
    overflow-y: auto;
    height: calc(100vh - 9.5%); /* Đảm bảo nội dung không bị che mất */
    transition: all 0.3s ease-in-out;
}